@media all and (max-width: 1995px) {
  #storeBody #storeTop {
    height: 700px;
  }
  #storeBody #storeTop .store-top-cnt h2 {
    font-size: 50px;
  }
  #storeBody #storeTop .store-top-cnt p {
    font-size: 18px;
  }
  #storeBody #storeMain {
    max-width: 95%;
  }
  #storeBody
    #storeMain
    .store-main-cnt
    #storeCalendars
    .store-calendars-box
    .store-calendars-row
    .store-calendar
    .store-calendar-cnt {
    max-width: 95%;
  }
  #storeBody
    #storeMain
    .store-main-cnt
    .store-product-modal
    .calendar-modal-cnt
    .calendar-modal-bg,
  #storeBody
    #storeMain
    .store-main-cnt
    .store-product-modal
    .calendar-modal-cnt {
    max-width: 800px;
    height: 700px;
  }
}

@media all and (max-width: 991px) {
  #storeBody #storeTop {
    height: 500px;
  }
  #storeBody #storeTop .store-top-cnt h2 {
    font-size: 40px;
  }
  #storeBody #storeTop .store-top-cnt p {
    font-size: 16px;
  }
  #storeBody #storeTop .store-top-cnt div {
    max-width: 400px;
  }
  #storeBody #storeTop .store-top-cnt div button {
    font-size: 15px;
  }
  #storeBody
    #storeMain
    .store-main-cnt
    .store-product-modal
    .calendar-modal-cnt
    .calendar-modal-bg,
  #storeBody
    #storeMain
    .store-main-cnt
    .store-product-modal
    .calendar-modal-cnt {
    max-width: 600px;
    height: 500px;
  }
}

@media (min-width: 992px) {
}

@media all and (max-width: 768px) {
  #storeBody #storeTop {
    height: 500px;
  }
  #storeBody #storeTop .store-top-cnt h2 {
    font-size: 40px;
  }
  #storeBody #storeTop .store-top-cnt p {
    font-size: 16px;
    max-width: 80%;
    margin: auto !important;
  }
  #storeBody #storeTop .store-top-cnt div {
    max-width: 260px;
    flex-wrap: wrap;
  }
  #storeBody #storeTop .store-top-cnt div button {
    font-size: 14px;
    margin-top: 10px !important;
  }
  #storeBody #storeMain {
    margin-bottom: 0 !important;
  }
  #storeBody
    #storeMain
    .store-main-cnt
    .store-product-modal
    .calendar-modal-cnt
    .calendar-modal-bg,
  #storeBody
    #storeMain
    .store-main-cnt
    .store-product-modal
    .calendar-modal-cnt {
    max-width: 100%;
    height: 450px;
  }
  #storeBody
    #storeMain
    .store-main-cnt
    #storeCalendars
    .store-calendars-box
    .store-calendars-row
    .store-calendar {
    max-width: 100%;
    height: 100%;
    padding-bottom: 50px !important;
  }
  #storeBody
    #storeMain
    .store-main-cnt
    #storeCalendars
    .store-calendars-box
    .store-calendars-row
    .store-calendar
    .store-calendar-cnt
    .store-product-img-holder {
    height: 180px;
  }
}

/*! Pixel 2 XL */
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #storeBody #storeTop {
    height: 300px;
  }
  #storeBody
    #storeMain
    .store-main-cnt
    .store-product-modal
    .calendar-modal-cnt
    .calendar-modal-bg,
  #storeBody
    #storeMain
    .store-main-cnt
    .store-product-modal
    .calendar-modal-cnt {
    max-width: 360px;
    height: 100%;
  }
  #storeBody
    #storeMain
    .store-main-cnt
    #storeCalendars
    .store-calendars-box
    .store-calendars-row
    .store-calendar {
    max-width: 50%;
    height: 100%;
    padding-bottom: 50px !important;
  }
  #storeBody
    #storeMain
    .store-main-cnt
    #storeCalendars
    .store-calendars-box
    .store-calendars-row
    .store-calendar
    .store-calendar-cnt
    .store-product-img-holder {
    height: 180px;
  }
}

/*! Ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #storeBody #storeTop {
    height: 400px;
  }
  #storeBody #storeMain {
    margin-bottom: 0 !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  #storeBody #storeMain {
    margin-bottom: 0 !important;
  }
}

/*! iPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #storeBody #storeTop {
    height: 500px;
  }
  #storeBody #storeMain {
    margin-bottom: 0 !important;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #storeBody #storeTop {
    height: 500px;
  }
  #storeBody #storeMain {
    margin-bottom: 0 !important;
  }
}

/*! Laptops */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}
