@import "../../abstracts/abstracts-dir.scss";
@import "../../base/base-dir.scss";
@import "../../themes/themes-dir.scss";

//! Packages Top
#packagesTop {
  height: 700px;
  width: 100%;
  @include tLCenter;
  text-align: center;
  font-family: $M;

  .packages-top-cnt {
    h2 {
      font-weight: $MBold;
      font-size: 70px;
      padding-bottom: 40px !important;
    }

    p {
      font-weight: $MReg;
      font-size: 20px;
      padding-top: 20px !important;
      padding-bottom: 30px !important;
      max-width: 65%;
      @include qCenter;
    }

    span {
      font-weight: $MSemi;
      font-size: 20px;
      padding-top: 30px !important;
      display: block;
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 500px;
      padding-top: 30px !important;
      @include qCenter;

      a {
        background-color: $AzureRadiance;
        color: white;
        font-family: $M;
        font-weight: $MSemi;
        font-size: 16px;
        padding: 10px !important;
        cursor: pointer;

        &:hover {
          background-color: $DodgerBlue;
        }
      }
    }
  }
}

//! Packages FAQ
#packagesFAQ {
  width: 100%;
  background-color: ghostwhite;
  padding: 20px !important;
  @include tLCenter;

  .packages-faq-cnt {
    width: 100%;
    max-width: 75%;

    .packages-faq-cnt-main {
      padding-top: 40px !important;
      padding-bottom: 40px !important;
      h3 {
        font-family: $M;
        font-weight: $MSemi;
        text-align: center;
        font-size: 34px;
        text-transform: uppercase;
      }

      .packages-faq-cnt-main-inner {
        width: 100%;
        height: 100%;
        min-height: 590px;
        max-height: 590px;
        max-width: 75%;
        @include qCenter;
        background-color: white;
        margin-top: 60px !important;
        overflow: hidden;
        overflow-y: auto;
        white-space: nowrap;
        display: block;
        padding: 20px !important;
        scrollbar-color: $AzureRadiance rgb(230, 230, 230);

        .packages-faq-item {
          width: 100%;
          display: block;
          margin-bottom: 20px !important;

          &:last-child {
            margin-bottom: 0 !important;
          }

          label {
            background-color: ghostwhite;
            width: 100%;
            position: relative;
            padding: 10px !important;
            font-family: $M;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            border-bottom: 2px solid white;
            transition: 0.3s ease-in-out;

            &:hover {
              background-color: $DodgerBlue;
              color: white;
            }

            h4 {
              font-weight: $MSemi;
              font-size: 30px;
            }

            .fa-icon {
              font-size: 30px;
            }

            input {
              position: absolute;
              opacity: 0;
              visibility: hidden;
            }
          }

          .answer-holder {
            width: 100%;
            max-height: 0;
            background-color: rgb(246, 246, 246);
            overflow: hidden;
            white-space: pre-wrap;
            font-family: $M;
            font-weight: $MReg;

            .answer-holder-inner {
              padding: 20px !important;
              p {
                font-size: 21px;
              }
            }
          }
        }
      }
    }
  }
}
